docker.enabled = true
// If using Singularity/Apptainer, comment out the line above and uncomment below:
// singularity.enabled = true

process {
    // Default container for Picard
    withLabel: 'PICARD_CONTAINER' {
        container = 'quay.io/biocontainers/picard:3.4.0--hdfd78af_0'
        cpus = 2
        memory = '8 GB'
    }
    withLabel: 'SAMTOOLS_CONTAINER' {
        container = 'quay.io/biocontainers/samtools:1.23--h96c455f_0'
        cpus = 2
        memory = '8 GB'
    }
    // Container for Bcftools
    withName: 'ESTIMATE_FPR_TITV' {
        container = 'quay.io/biocontainers/bcftools:1.23--h3a4d415_0'
        cpus = 2
        memory = '4 GB'
    }

    // Container for MultiQC
    withName: 'MULTIQC' {
        container = 'quay.io/biocontainers/multiqc:1.33--pyhdfd78af_0'
    }
}

profiles {
  cluster {
      singularity{
          cacheDir = '/home/kryan/singularity_cache'
          autoMount = true
          enabled = true
      }
      executor = 'slurm'
      queue = 'defq'
      cpus = 4
  }
  awsbatch {
      process {
           executor = 'awsbatch'
           queue = 'nextflow-queue-ami-10m-timeout'
      }
      params.awsregion = 'eu-west-1'
      aws {
          batch.cliPath = '/home/ec2-user/miniconda/bin/aws' 
          accessKey = secrets.MY_ACCESS_KEY
          secretKey = secrets.MY_SECRET_KEY
      }
      docker {
          enabled = true
      }
      singularity {
          enabled = false
      }     
  }
  singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
  }
  docker {
        singularity.enabled     = false
        conda.enabled           = false
        docker.enabled          = true
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
  }
}

params {
        tracedir = "${params.outdir}/pipeline_info"
}

timeline {
         enabled = true
         file = "${params.tracedir}/execution_timeline.html"
         overwrite = true
    }
report {
         enabled = true
         file = "${params.tracedir}/execution_report.html"
         overwrite = true
    }
trace {
        enabled = true
        file = "${params.tracedir}/execution_trace.txt"
        overwrite = true
    }
dag {
        enabled = false
        file = "${params.tracedir}/pipeline_dag.svg"
        overwrite = true
}
